@model KN_Web.Entidades.Usuario

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Recuperar Acceso</p>

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("RecuperarAcceso", "Login"))
        {
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.Identificacion, new { @type = "text", @class = "form-control", @placeholder = "Identificación" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Procesar</button>
                </div>
            </div>
        }

        <a href="@Url.Action("Index","Login")" class="text-center">Iniciar Sesión</a>
    </div>
</div>
